<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top"
            src="{{this.carImage}}"
            alt="">
        <div class="card-body">
            <h4 class="card-title">{{this.start}} - {{this.end}}</h4>
        </div>
        <div class="card-footer">
            <a href="/sharedTrips/details/{{this._id}}" class="btn btn-primary">Find Out More!</a>
        </div>
    </div>
</div>